.card:hover {
  border-color: rgb(0, 200, 0);
  transition: 0.5s;
  .icon-heart {
    opacity: 1;
  }
}

.icon-heart {
  color: rgb(0, 200, 0);
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}

.container {
  min-height: calc(100vh - 60px);
}


