<div class="container">
  <form [formGroup]="codeForm" (ngSubmit)="verifyCode(codeForm)">
    <div class="body w-75 m-auto">
      <h1 [ngStyle]="{color: 'var(--green-500)'}">Code :</h1>

      <div class="mb-3">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
              <i class="pi pi-code"></i>
          </span>
          <input class="d-block" formControlName="resetCode" pInputText placeholder="Verify Code" />
        </div>
    </div>

    <p-messages [(value)]="mesError" [enableService]="false"></p-messages>

    <button pButton pRipple [disabled]="codeForm.invalid"  class=" d-block ms-auto rounded-3 px-4 py-2">
      <i class="pi pi-spin pi-spinner" *ngIf="isLoading"></i>
      <span *ngIf="!isLoading">Verify Code</span>
    </button>

    </div>

  </form>
</div>
