<div class="container py-5 my-5" >
  <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm)">
    <div class="body w-75 m-auto">
      <h1 [ngStyle]="{color:'var(--green-400)'}">New Password :</h1>



      <div class="mb-3">
        <div class="p-inputgroup">

          <input formControlName="currentPassword"   pInputText type="password" placeholder="Password" />
        </div>
        <div *ngIf="changePasswordForm.get('currentPassword')?.errors && changePasswordForm.get('currentPassword')?.touched">
          <small class="m-0 p-error" *ngIf="changePasswordForm.get('currentPassword')?.getError('required')" > Password Requird </small>
        </div>

      </div>

      <div class="mb-3">
        <div class="p-inputgroup">
          <input formControlName="password" pInputText type="password" placeholder="New Password" />
        </div>
        <div *ngIf="changePasswordForm.get('password')?.errors && changePasswordForm.get('password')?.touched">
          <small class="m-0 block p-error" *ngIf="changePasswordForm.get('password')?.getError('required')" > Password Requird </small>
          <small class="m-0 p-error" *ngIf="changePasswordForm.get('password')?.getError('pattern')"> Password Not Valid </small>
        </div>
      </div>

      <div class="mb-3">
        <div class="p-inputgroup">
          <input formControlName="rePassword" pInputText type="password" placeholder="New Repassword" />
        </div>
        <div *ngIf="changePasswordForm.get('rePassword')?.errors && changePasswordForm.get('rePassword')?.touched">
          <small class="m-0 block p-error" *ngIf="changePasswordForm.get('rePassword')?.getError('required')" > Password Requird </small>
          <small class="m-0 p-error" *ngIf="changePasswordForm.get('rePassword')?.getError('pattern')"> Password Not Valid </small>

        </div>
      </div>

        <p-messages [(value)]="mesError" [enableService]="false"></p-messages>


      <button pButton pRipple  class="d-block ms-auto rounded-3 px-4 py-2">
        <i class="pi pi-spin pi-spinner" *ngIf="isLoading"></i>
        <span *ngIf="!isLoading">Updata</span>
      </button>



    </div>
  </form>
</div>
