<div class="container py-5" >
  <form [formGroup]="registerForm" (ngSubmit)="register(registerForm)">
    <div class="body w-75 m-auto">
      <h1 [ngStyle]="{color:'var(--green-400)'}">Register :</h1>
      <div class="mb-3">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
              <i class="pi pi-user"></i>
          </span>
          <input class="d-block" formControlName="name" pInputText placeholder="Username" />
        </div>
        <div *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.touched">
          <small *ngIf="registerForm.get('name')?.getError('required')" class="p-error"> Username requird </small>
          <small *ngIf="registerForm.get('name')?.getError('minlength')" class="p-error" > Min length should be 4 </small>
          <small *ngIf="registerForm.get('name')?.getError('maxlength')" class="p-error" > Max length should be 18 </small>
        </div>
      </div>

      <div class="mb-3">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
              <i class="pi pi-at"></i>
          </span>
          <input formControlName="email" type="email" class="ng-valid" pInputText placeholder="Mail" />
        </div>
      <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched">
        <small *ngIf="registerForm.get('email')?.getError('required')" class="m-0 p-error" >Email Requird </small>
        <small *ngIf="registerForm.get('email')?.getError('pattern')" class="m-0 p-error"> Email Not Valid </small>
      </div>
      </div>

      <div class="mb-3">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-unlock"></i>
          </span>
          <input formControlName="password"   pInputText type="password" placeholder="Password" />
        </div>
        <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched">
          <small class="m-0 p-error" *ngIf="registerForm.get('password')?.getError('required')" > Password Requird </small>
        <small class="m-0 p-error" *ngIf="registerForm.get('password')?.getError('pattern')"> Password Not Valid </small>
        </div>

      </div>

      <div class="mb-3">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-unlock"></i>
          </span>
          <input formControlName="rePassword" pInputText type="password" placeholder="Repassword" />
        </div>
        <div *ngIf="registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched">
          <small class="m-0 block p-error" *ngIf="registerForm.get('rePassword')?.getError('required')" > Password Requird </small>
          <small class="m-0 p-error" *ngIf="registerForm.get('rePassword')?.getError('pattern')" > Password Not Valid </small>
        </div>
      </div>

      <div class="mb-3">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-phone"></i>
          </span>
          <input formControlName="phone" pInputText type="tel" placeholder="Phone" />
        </div>
        <div *ngIf="registerForm.get('phone')?.errors && registerForm.get('phone')?.touched">
          <small class="m-0 p-error" *ngIf="registerForm.get('phone')?.getError('required')" > Phone Requird </small>
          <small class="m-0 p-error" *ngIf="registerForm.get('phone')?.getError('pattern')"> Phone Not Valid </small>
        </div>
      </div>


        <p-messages [(value)]="mesError" [enableService]="false"></p-messages>


      <button pButton pRipple  class="d-block ms-auto rounded-3 px-4 py-2">
        <i class="pi pi-spin pi-spinner" *ngIf="isLoading"></i>
        <span *ngIf="!isLoading">Register</span>
      </button>



    </div>
  </form>
</div>
