<div class="container">
  <form [formGroup]="verifyEmailForm" (ngSubmit)="verifyEmail(verifyEmailForm)">
    <div class="body w-75 m-auto">

      <h1 [ngStyle]="{color : 'var(--green-500)'}">Email: </h1>


      <div class="mb-3">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
              <i class="pi pi-at"></i>
          </span>
          <input formControlName="email" type="email" class="ng-valid" pInputText placeholder="Mail" />
        </div>
      <div *ngIf="verifyEmailForm.get('email')?.errors && verifyEmailForm.get('email')?.touched">
        <small *ngIf="verifyEmailForm.get('email')?.getError('required')" class="m-0 p-error" >Email Requird </small>
        <small *ngIf="verifyEmailForm.get('email')?.getError('pattern')" class="m-0 p-error"> Email Not Valid </small>
      </div>
      </div>

      <p-messages [(value)]="mesError" [enableService]="false"></p-messages>

      <button pButton pRipple [disabled]="verifyEmailForm.invalid"  class="d-block ms-auto rounded-3 px-4 py-2">
        <i class="pi pi-spin pi-spinner" *ngIf="isLoading"></i>
        <span *ngIf="!isLoading">Sent</span>
      </button>
    </div>
  </form>
</div>
