<div class="container py-5" >
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm)">
    <div class="body w-75 m-auto">
      <h1 class="h2" [ngStyle]="{color:'var(--green-400)'}">New Password :</h1>


      <div class="mb-3">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
              <i class="pi pi-at"></i>
          </span>
          <input formControlName="email" type="email" class="ng-valid" pInputText placeholder="Mail" />
        </div>
      <div *ngIf="resetPasswordForm.get('email')?.errors && resetPasswordForm.get('email')?.touched">
        <small *ngIf="resetPasswordForm.get('email')?.getError('required')" class="m-0 p-error" >Email Requird </small>
        <small *ngIf="resetPasswordForm.get('email')?.getError('pattern')" class="m-0 p-error"> Email Not Valid </small>
      </div>
      </div>

      <div class="mb-3">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-unlock"></i>
          </span>
          <input formControlName="newPassword"   pInputText type="password" placeholder="New Password" />
        </div>
        <div *ngIf="resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched">
          <small class="m-0 p-error" *ngIf="resetPasswordForm.get('newPassword')?.getError('required')" > Password Requird </small>
          <small class="m-0 p-error" *ngIf="resetPasswordForm.get('newPassword')?.getError('pattern')"> Password Not Valid </small>
        </div>

      </div>

      <div class="mb-3">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="pi pi-unlock"></i>
          </span>
          <input formControlName="newRepassword" pInputText type="password" placeholder="New Repassword" />
        </div>
        <div *ngIf="resetPasswordForm.get('newRepassword')?.errors && resetPasswordForm.get('newRepassword')?.touched">
          <small class="m-0 block p-error" *ngIf="resetPasswordForm.get('newRepassword')?.getError('required')" > Password Requird </small>
          <small class="m-0 p-error" *ngIf="resetPasswordForm.get('newRepassword')?.getError('pattern')" > Password Not Valid </small>
        </div>
      </div>




        <p-messages [(value)]="mesError" [enableService]="false"></p-messages>


      <button pButton pRipple  class=" d-block ms-auto rounded-3 px-4 py-2">
        <i class="pi pi-spin pi-spinner" *ngIf="isLoading"></i>
        <span *ngIf="!isLoading">Submit</span>
      </button>



    </div>
  </form>
</div>
