.container {
  min-height: calc(100vh - 60px);
}

.body {
  background-color: rgb(240, 240, 240);
  padding: 20px;
  border-radius: 10px;
}


.row {
  transition: 0.5s;
}

.row:hover {
  background-color: rgb(219, 219, 219);
}

.count button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.removeAll {
  border: none;
  border: 1px solid green;
}
.removeAll span {
  transition: 0.5s;
}

.removeAll:hover span {
  color: green;
}

.remove {
  cursor: pointer;
}

ul , li {
  list-style: none;
}
