.container {
  min-height: calc(100vh - 60px);
}

.body {
  background-color: rgb(240, 240, 240);
  padding: 20px;
  border-radius: 8px;
}

.row:not(:last-child) {
  margin-bottom: 15px;
}

ul, li
{
  list-style: none;
}

.remove {
  cursor: pointer;
}
